/* 
    Document   : style
    Created on : Aug 5, 2012, 8:27:35 AM
    Author     : stuart
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    font-family: Helvetica;
}

.marketTable td{
    padding: 3px 3px 3px 3px;
    font-size: 14px;
    border: 1px 1px 1px 1px;
    border-color: black;
    border-style: solid;
}

.backCell {
    background-color: #99CCFF;
    text-align: center;
}

.layCell {
    background-color: #FFCCFF;
    text-align: center;
}

.selectionCell {
    text-align: right;
}

.smallText {
    font-size: 10px;
}

table td {
    border: 1px 1px 1px 1px;
    border-color: black;
    border-style: solid;
}

